# Ignore config files
.env
config/*.yml

# Ignore binary files
.bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore Redis dump files and Postgres data
*.rdb
.database/

# Mac OS X files
.DS_Store

# Ignore IDE files
.idea/